body {
    background-color: #e2f3d9;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 18%));
    gap: 10px;
}

#newBook {
    margin-bottom: 20px;
    font-size: 1.5rem;
    background-color: bisque;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #c4ffed;
    padding: 12px;
    font-size: 2rem;
}

.deleteButton,
.readButton,
.submit {
    margin-top: 10px;
    background-color: bisque;
    font-size: 1.2rem;
    border-radius: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    align-self: flex-end;
    justify-self: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffd6ca;
    padding: 12px;
    font-size: 2rem;
}

textarea {
    font-size: 1.2rem;
    height: 25px;
    resize: none;
}

.invalid  {
    border-color: #900;
    background-color: #fdd;
}

.error {
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}