.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 18%));
    gap: 10px;
}

#newBook {
    margin-bottom: 20px;
    font-size: 1.5rem;
    background-color: bisque;
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid black;
    border-radius: 10px;
    background-color: teal;
    padding: 12px;
    font-size: 2rem;
}

.deleteButton {
    margin-top: 10px;
    background-color: bisque;
    font-size: 1.2rem;
    border-radius: 10px;
    align-self: flex-end;
}